<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - Uno</title>

        <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" sizes="any">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta name="theme-color" content="#004F35">

        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="{{ url_for('static', filename='refresh.js') }}"></script>

        <style>
        .uno-card-anim, .stack-card-anim {
            transition: all 0.2s;
        }

        .uno-card-anim:hover {
            translate: 0 -15px;
        }

        .stack-card-anim:hover {
            translate: 0 30px;
            transform: rotate(-10deg);
        }
        </style>
    </head>
    <body class="h-screen w-screen bg-emerald-800 text-white">
        {% block content %}{% endblock %}
    </body>
</html>
