{% extends 'base.html' %} 

{% block title %}Create or join{% endblock %} 

{% block content %}
<div class="flex h-screen w-screen bg-emerald-900 text-gray-100">
    <div
        class="flex flex-1 items-center justify-center border-r border-emerald-600 p-12">
        <div class="w-full max-w-md">
            <h2 class="mb-8 text-3xl font-extrabold tracking-tight">
                Neues Spiel
            </h2>

            <form class="space-y-6" action="" method="post">
                <input type="hidden" name="type" value="create" />

                <div>
                    <label
                        for="name"
                        class="mb-1 block text-sm font-medium text-gray-200">
                        Name der Lobby
                    </label>

                    <input
                        type="text"
                        id="name"
                        name="name"
                        class="w-full rounded-lg border border-gray-300 px-4 py-2 outline-none focus:border-emerald-500 focus:ring-2 focus:ring-emerald-500" />
                </div>

                <button
                    type="submit"
                    class="w-full rounded-lg bg-emerald-600 px-4 py-2 font-semibold text-white shadow-sm hover:bg-emerald-700">
                    Erstellen
                </button>
            </form>
        </div>
    </div>

    <div class="flex flex-1 items-center justify-center bg-emerald-800 p-12">
        <div>
            <div class="text-end">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight">
                    Spiel beitreten
                </h2>
            </div>

            <br />

            <div class="space-y-6">
                {% for id, name, state in games %}
                    <form method="post" action="">
                        <input type="hidden" name="type" value="join" />
                        <input type="hidden" name="game_id" value="{{ id }}" />

                        <button
                            type="submit"
                            class="w-full rounded-lg bg-emerald-600 px-4 py-2 font-semibold text-white shadow-sm hover:bg-emerald-700">
                            {{ name }}
                        </button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="bottom center absolute">
        <a href="/debug/delete_games">
            <button
                type="submit"
                class="w-full rounded-lg bg-red-600 px-4 py-2 font-semibold text-white shadow-sm hover:bg-red-700">
                Delete all games
            </button>
        </a>
    </div>
</div>
{% endblock %}
