{% extends 'base.html' %}

{% block title %}Ingame{% endblock %}

{% block content %}
    <div class="h-screen w-screen flex flex-col">
        <div class="flex flex-3 text-center items-center justify-center">
            <h2 class="text-3xl font-extrabold tracking-tight mb-4">Ein:e andere Spieler:in ist am Zug</h2>
        </div>

        <div class="flex flex-1 bg-emerald-700 w-screen p-12">

        </div>

        <div class="absolute left-4 top-4 bg-emerald-700 p-4 rounded-lg">
            <p class="px-4 py-2">
                1. Thomas
            </p>

            <p class="px-4 py-2">
                2. Helga
            </p>

            <p class="px-4 py-2 bg-emerald-600 ring-2 rounded-lg">
                3. Max
            </p>
        </div>
    </div>
{% endblock %}