{% extends 'base.html' %} 

{% block title %}Ingame{% endblock %} 

{% block content %}
<div class="flex h-screen w-screen flex-col">
    <div class="flex flex-3 items-center justify-center text-center">
        <div>
            <!-- game turn title -->
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight">
                {% if is_players_turn %}
                    <i>Du</i> bist am Zug. 
                {% else %}
                    {{ game_turn_name }} ist am Zug.
                {% endif %}
            </h2>

            <div class="flex flex-row gap-4">
                <!-- stack -->
                <form action="" method="post">
                    <input type="hidden" name="type" value="draw" />

                    <button type="submit" class="{{ 'cursor-pointer stack-card-anim' if is_players_turn else '' }}">
                        <img
                            src="/static/Grafiken/5_15.png"
                            style="height: 200px" />
                    </button>
                </form>

                <!-- current card -->
                <img
                    src="/static/Grafiken/{{ current_card_farbe }}_{{ current_card_wert }}.png"
                    style="height: 200px" />
            </div>

            <!-- uno button -->
            {% if show_uno %}
                <br /><br />

                <form action="" method="post">
                    <input type="hidden" name="type" value="uno" />

                    <button
                        type="submit"
                        class="rounded-lg bg-rose-600 px-4 py-2 font-semibold text-white shadow-sm hover:bg-rose-700">
                        UNO !!
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="flex flex-none justify-center p-8">
        <!-- player cards list -->
        <div
            class="inline-flex flex-row overflow-x-auto rounded-lg bg-emerald-700">
            {% for id, farbe, wert, is_placeable in player_cards %}
                <form action="{{ '/game/complex/wish' if farbe == 4 and is_placeable else '' }}" method="post" class="flex-none">
                    <input type="hidden" name="type" value="place_card" />
                    <input type="hidden" name="card_id" value="{{ id }}" />    

                    <button
                        type="submit"
                        style="height: 280px; width: 200px"
                        class="p-4 {{ 'cursor-pointer uno-card-anim' if (is_players_turn and is_placeable) else '' }}">
                        <img
                            src="/static/Grafiken/{{ farbe }}_{{ wert }}.png"
                            class="{{ 
                                    'brightness-50' if not is_players_turn 
                                        else ('brightness-100' if is_placeable else 'brightness-70') 
                            }}" />
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>

    <!-- player list -->
    <div class="absolute top-4 left-4 rounded-lg bg-emerald-700 p-4">
        {% for position, name, _, card_count in all_players %} 
            <div class="{{ 'rounded-lg bg-emerald-600 ring-2' if position == game_turn else '' }} px-4 py-2 ">
                <p>{{ position }}. {{ name }}</p>
                <p class="text-gray-300">{{ card_count }} Karten</p>
            </div>
        {% endfor %}
    </div>
    
    <div class="absolute top-4 right-4">
        <!-- wish color display -->
        {% if game_wish_farbe is not none %}
            {% 
                set farben_text = { 0: "Rot", 1: "Blau", 2: "Gelb", 3: "Grün" }
            %}
            {%
                set farben_class = { 0: "bg-red-500", 1: "bg-sky-500", 2: "bg-yellow-500", 3: "bg-emerald-600" }
            %}

            <div class="rounded-lg {{ farben_class[game_wish_farbe] }} px-3 py-1 my-1 text-sm">
                {% set farben = {0: "Rot", 1: "Blau", 2: "Gelb", 3: "Grün"} %}
                Wunschfarbe: {{ farben_text[game_wish_farbe] }}
            </div>
        {% endif %}

        <!-- draw stack display -->
        {% if game_draw_stack > 0 %}
            <div class="rounded-lg bg-rose-700 px-3 py-1 my-1 text-sm">
                Draw-Stack: {{ game_draw_stack }}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}