{% extends 'base.html' %} 

{% block title %}Ingame{% endblock %} 

{% block content %}
<div class="flex h-screen w-screen flex-col">
    <div class="flex flex-3 items-center justify-center text-center">
        <div>
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight">
                {% for position, name, card_count in all_players %} 
                    {% if position == game_turn %} 
                        {% if position == player_position %}
                                <i>Du</i> bist am Zug. 
                            {% else %} 
                                {{ name }} ist am Zug.
                        {%endif %} 
                    {% endif %} 
                {% endfor %}
            </h2>

            <div class="flex flex-row gap-4">
                <!-- stack -->
                <form action="" method="POST">
                    <input type="hidden" name="type" value="draw" />

                    <button type="submit" class="cursor-pointer stack-card-anim">
                        <img
                            src="/static/Grafiken/5_15.png"
                            style="height: 200px" />
                    </button>
                </form>

                <!-- current card -->
                <img
                    src="/static/Grafiken/{{ current_card_farbe }}_{{ current_card_wert }}.png"
                    style="height: 200px" />
            </div>
        </div>
    </div>

    <div class="flex flex-none justify-center p-8">
        <div
            class="inline-flex flex-row overflow-x-auto rounded-lg bg-emerald-700">
            {% for id, farbe, wert, brightness in player_cards %}
                {% if farbe == 4 %}
                    <form action="/game/complex/wish" method="post" class="flex-none">
                {% else %}
                    <form action="" method="post" class="flex-none">
                {% endif %}
                        <input type="hidden" name="type" value="place_card" />
                        <input type="hidden" name="card_id" value="{{ id }}" />
                        
                        <button
                            type="submit"
                            style="height: 280px; width: 200px"
                            class="cursor-pointer p-4 uno-card-anim">
                            <img
                                src="/static/Grafiken/{{ farbe }}_{{ wert }}.png"
                                class="{{ brightness }}" />
                        </button>
                    </form>
            {% endfor %}
        </div>
    </div>

    <div class="absolute top-4 left-4 rounded-lg bg-emerald-700 p-4">
        {% for position, name, card_count in all_players %} {% if position ==
        game_turn %}
        <div class="rounded-lg bg-emerald-600 px-4 py-2 ring-2">
            {% else %}
            <div class="px-4 py-2">
                {% endif %}
                <p>{{ position }}. {{ name }}</p>
                <p class="text-gray-300">{{ card_count }} Karten</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}