{% extends 'base.html' %} 

{% block title %}Game End{% endblock %} 

{% block content %}
<div
    class="flex h-screen w-screen items-center justify-center bg-emerald-800 text-white">
    <div class="text-center">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight">
            » {{ winner_name }} « hat gewonnen! 🥳
        </h2>
    </div>

    <!-- game leave button -->
    <form action="/game/leave" method="post" class="absolute bottom-4">
        <input type="hidden" name="type" value="start" />

        <button
            type="submit"
            class="w-full rounded-lg bg-rose-600 px-4 py-2 font-semibold text-white shadow-sm hover:bg-rose-700">
            Spiel verlassen
        </button>
    </form>
</div>
{% endblock %}
