{% extends 'base.html' %}

{% block title %}Lobby{% endblock %}

{% block content %}
    <div class="h-screen w-screen flex items-center justify-center bg-emerald-800 text-white">
        <div class="text-center">
            <h2 class="text-3xl font-extrabold tracking-tight mb-4">Lobby</h2>

            <p>
                Warten auf Spielbeginn ...
            </p>

            <form action="" method="post">
                <input type="hidden" value="hello">
                <button type="submit">hallo</button>
            </form>
        </div>
    </div>
{% endblock %}