{% extends 'base.html' %} 

{% block title %}Lobby{% endblock %} 

{% block content %}
<div
    class="flex h-screen w-screen items-center justify-center bg-emerald-800 text-white">
    <div class="text-center">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight">
            » {{ game_name }} «
        </h2>

        <p>Warten auf Spielbeginn ...</p>

        <br /><br />

        <div class="flex flex-row gap-10">
            <form action="" method="post">
                <input type="hidden" name="type" value="select_deck" />
                <input type="hidden" name="deck" value="simple" />

                {% if game_deck_id == 0 %}
                <button
                    type="submit"
                    style="height: 80px; width: 100px"
                    class="rounded-xs shadow-sm ring-3 ring-emerald-500 ring-offset-4 ring-offset-emerald-800">
                    <img src="/static/Grafiken/simpledeck_cover.png" />
                </button>
                {% else %}
                <button
                    type="submit"
                    style="height: 80px; width: 100px"
                    class="rounded-xs shadow-sm">
                    <img src="/static/Grafiken/simpledeck_cover.png" />
                </button>
                {% endif %}

                <p class="font-semibold">Simple deck</p>
            </form>

            <form action="" method="post">
                <input type="hidden" name="type" value="select_deck" />
                <input type="hidden" name="deck" value="complex" />

                {% if game_deck_id == 1 %}
                <button
                    type="submit"
                    style="height: 80px; width: 100px"
                    class="rounded-xs shadow-sm ring-3 ring-emerald-500 ring-offset-4 ring-offset-emerald-800">
                    <img src="/static/Grafiken/complexdeck_cover.png" />
                </button>
                {% else %}
                <button
                    type="submit"
                    style="height: 80px; width: 100px"
                    class="rounded-xs shadow-sm">
                    <img src="/static/Grafiken/complexdeck_cover.png" />
                </button>
                {% endif %}

                <p class="font-semibold">Complex deck</p>
            </form>
        </div>

        <br /><br />

        <form action="" method="post">
            <input type="hidden" name="type" value="start" />

            <button
                type="submit"
                class="w-full rounded-lg bg-emerald-600 px-4 py-2 font-semibold text-white shadow-sm hover:bg-emerald-700">
                Start
            </button>
        </form>
    </div>

    <div class="absolute top-4 left-4 rounded-lg bg-emerald-700 p-4">
        {% for player in all_players %}
            <p class="px-4 py-2">{{ player[0] }}</p>
        {% endfor %}
    </div>

    <form action="/game/leave" method="post" class="absolute bottom-4">
        <input type="hidden" name="type" value="start" />

        <button
            type="submit"
            class="w-full rounded-lg bg-rose-600 px-4 py-2 font-semibold text-white shadow-sm hover:bg-rose-700">
            Lobby verlassen
        </button>
    </form>
</div>
{% endblock %}
